# --------------------------------------------------------- Read more ----------------------------------------------------------------------
# https://git-scm.com/docs/gitignore
# http://www.gitignore.io/
# --------------------------------------------------------- Build Tool Specific Directories ------------------------------------------------
# Gradle
.gradle
build

# --------------------------------------------------------- Android Studio -----------------------------------------------------------------
# Gradle
debug

# --------------------------------------------------------- IDE Internal Directories And Files ---------------------------------------------
# IntelliJ IDEA
*.iml
.idea
local.properties

# --------------------------------------------------------- OS Internal Directories And Files ----------------------------------------------
# Mac-specific directories
.DS_Store
# Linux KDE-specific directories
.directory

# --------------------------------------------------------- Temp files ---------------------------------------------------------------------
tmp
tmp.*
*.tmp
temp.*
temp
# --------------------------------------------------------- Google secrets -----------------------------------------------------------------
google-services.json
